<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kugou.dao.UsersDao">
	<sql id="allusers">
		select
		userID,userName,userEmail,UserPwd,UserPower,PortectinID
	</sql>
	<resultMap type="Users" id="UsersResultMap">
		<result column="userID" property="userID" />
		<result column="userName" property="userName" />
		<result column="userEmail" property="userEmail" />
		<result column="userPwd" property="userPwd" />
		<result column="userPower" property="userPower" />
		<result column="PortectinID" property="portectionID" />
	</resultMap>
	<!-- 查询所有 -->
	<select id="selectAllUsers" resultMap="UsersResultMap">
		<include refid="allusers" />
		from users
	</select>
</mapper>