/**
全局属性
**/
body{margin:auto;padding:0px;text-align: center;width:960px;height:auto;}
/**
头部属性
**/
.logo{width: 960px;height: 95px;text-align: left;}
.logo_1{width:380px;height:95px;float: left;background-image: url("../images/logo-1.jpg");}
.logo_2{width:296px;height:95px;float: left;}
.logo_2 span{width:240px;height:30px;border:2px solid #C3C9CA;margin-top: 48px;float:left;}
.logo_2_1{float:left;width:190px;height:30px;border:0px none;color:#999; border-right:2px solid #c4cacb;line-height: 26px;}
.logo_2_2{width:42px;height:28px;background-image:url("../images/logo-2.jpg");border:0px;cursor:pointer;}
.logo_2_3{border:2px solid #41BBEC;}
.logo_3{width:282px;height:95px;float: left;}
.logo_3_1{width:280px;height:20px;margin-top: 18px;padding-left: 0px;text-align: right;}
.logo_3_1_0{font-size: 14px;color: #C3C9CA;}
.logo_3_1_0 a{text-decoration: none;}
.logo_3_1_0 a:HOVER{text-decoration: underline;}
.logo_3_1_1{width:120px;height:20px;margin-top: 3px;display:inline-block;}
.logo_3_1_1 a{font-size:12px;color:#C3C9CA;text-decoration:none;}
.logo_3_1_1 a:hover{color:red;text-decoration:underline;}
.logo_3_1_2{width:70px;height:20px;background:url("../images/default.png") no-repeat 70px -1px;display:inline-block;padding-right:23px;}
.logo_3_1_2 a{font-size:12px;color:#C3C9CA;text-decoration:none;}
.logo_3_1_2 a:hover{color:red;text-decoration:underline;}
.logo_3_2{width:280px;height:24px;margin-top: 18px;}
.logo_3_2_1{width:85px;background:url("../images/default.png") no-repeat -438px 1px;border-right:2px solid #41BBEC;display:inline-block;}
.logo_3_2_1 a{font-size:12px;color:#41BBEC;padding-left: 8px;margin-left: 10px;text-decoration:none;}
.logo_3_2_1 a:hover{text-decoration:underline;}
.logo_3_2_2{width:85px;background:url("../images/default.png") no-repeat -131px -1px;border-right:2px solid #41BBEC;display:inline-block;}
.logo_3_2_2 a{font-size:12px;color:#41BBEC;padding-left: 13px;margin-left: 10px;text-decoration:none;}
.logo_3_2_2 a:hover{text-decoration:underline;}
.logo_3_2_3{width:85px;background:url("../images/default.png") no-repeat -211px 0px;}
.logo_3_2_3 a{font-size:12px;color:#41BBEC;padding-left: 16px;margin-left: 10px;text-decoration:none;}
.logo_3_2_3 a:hover{text-decoration:underline;}
/**
导航属性
**/
.nva{width:960px;height:35px;}
.nva-1{width:673px;height:35px;float: left;}
.nva-1 ul{list-style: none;padding: 0;margin: 0;}
.nva-1 ul li{float:left;overflow: hidden;position: relative;text-align:center;line-height:35px;}
.nva-1 ul li a{position: relative;display: block;width: 110px;height:35px;font-family: Arial;font-size: 12px;font-weight: bold;letter-spacing: 1px;text-transform: uppercase;
text-decoration: none;cursor: pointer;}
.nva-1 ul li a span {position: absolute;left: 0;width: 110px;}
.nva-1 ul li a span.out {top: 0px;}
.nva-1 ul li a span.over{top: -45px;}
.nva-1 ul li a span.bg {top: -45px;}
#nva-1 {background:#3BB7EA;}
#nva-1 ul li a {color: #FFFFFF;}
#nva-1 ul li a span.over {color: #000000;}
#nva-1 ul li span.bg {height: 35px;background: url('../images/nva-2.jpg') center center no-repeat;}
.nav_0{width:3px;height:35px;background: url("../images/nva-1.jpg") no-repeat;float: left;}
.nav_2{width:283px;height:35px;float: left;background-color: #37B5E7;}
.nav_2 ul{margin: 0px;padding: 0px;list-style:none;}
.nav_2 ul li{float: left;margin-left:10px;width:81px;height:35px;}
.nav_2 ul li a{width:81px;height:35px;font-size: 12px;font-weight: bold;color: white;line-height: 35px;text-decoration:none;display:inline-block;}
.nav_2 ul li a:hover{width:81px;height:35px;background:url("../images/nav1.jpg") no-repeat;display:inline-block;}
/**
小导航属性
**/
.hover{width: 960px;height:40px;border-bottom:1px solid #C3C9CA;clear: both;}
.hover_1{width: 600px;height:40px;float: left;}
.hover_1 ul{margin:0px;padding:0px;list-style:none;}
.hover_1 ul li{float: left;width:65px;height: 38px;margin-left:20px;}
.hover_1 ul li a{width:55px;height: 38px;line-height: 38px;font-size: 13px;color: #464646;text-decoration:none;display:inline-block;}
.hover_1 ul li a:hover{color:#41BBEC;}
.hover_1_0{border-bottom: 3px solid #41BBEC;color:#41BBEC;}
.hover_2{width:355px;height: 40px;float: left;}
/**
大图片互换
*/
.banner{width:960px;height:325px;margin-top:13px;}
.banner_1{width:695px;height:325px;float: left;}
#slide{right:10px;z-index:2;position:absolute;top:480px;left:205px;}
.red_red{background:red;}
#slide span{width: 22px;height: 22px;line-height: 22px;display: inline-block;margin: 0 1px;background: #999;text-align: center;color: white;border-radius: 12px;cursor: pointer;}

.banner_2{width:257px;height:325px;float: right;background:url("../images/ix_side_download_splice.png") no-repeat;}
.banner_2_0{width:150px;height: 222px;margin-top:153px;}
.banner_2_0 ul{margin:0px;padding:0px;list-style:none;}
.banner_2_0 ul li a{width: 222px;height: 36px;text-decoration:none;display:inline-block;}
.banner_2_0 ul li a i{margin-left:155px;line-height: 40px;color:#BAE8FB;font-size:13px;}
.banner_2_1{width: 256px;height: 36px;}
.banner_2_1 a:hover{background: url("../images/ix_side_download_splice.png") no-repeat 1px -349px;}
.banner_2_2{width: 256px;height: 36px;margin-top:19px;}
.banner_2_2 a:hover{background: url("../images/ix_side_download_splice.png") no-repeat 1px -400px;}
.banner_2_3{width: 256px;height: 36px;margin-top:16px;}
.banner_2_3 a:hover{background: url("../images/ix_side_download_splice.png") no-repeat 1px -448px;}
/**
* 最新歌曲
*/
.wrap{width:960px;height: 370px;margin-top:15px;}
.wrap_1{width: 695px;height: 370px;float: left;}
.wrap_1 p{width: 695px;height: 23px;float: left;margin: 0px;border-bottom:2px solid #CFCFCF;}
.wrap_1 p .wrap_1_1_1{width:60pxp;height:21px;float:left;margin-left:5px;font-size: 14px;font-weight: bold;color: #878787}
.wrap_1 p span{font-size: 12px;float: left;}
.wrap_1 p span a{text-decoration:none;color: black;}
.wrap_1 p .wrap_1_1_2{width:60px;display:inline-block;margin-left: 30px;border-right: 1px solid #ABABAB;}
.wrap_1 p .wrap_1_1_3{width:60px;display:inline-block;border-right: 1px solid #ABABAB;}
.wrap_1 p .wrap_1_1_4{width:60px;display:inline-block;}
.wrap_1 p .wrap_1_1_5{width: 171px;height: 20px;font-size: 13px;margin-left: 100px;}
.wrap_1 p .wrap_1_1_5 a{text-decoration:none;color: black;font-weight: bold;}
.wrap_1 p .wrap_1_1_6{width: 85px;height: 20px;margin-top:2px;color:#464646;text-decoration:none;display:inline-block;background: url("../images/other.png") no-repeat -270px 0px;}
.wrap_1_2{width:695px;height: 340px;margin-top:30px;}
.wrap_1_2_1{width:695px;height: 340px;border:1px solid;display: none;}
.wrap_1_2_2{width:695px;height: 340px;border:1px solid;display: none;}
.wrap_1_2_3{width:695px;height: 340px;display: block;}
.wrap_1_2_3_1{width: 343px;float: left;}
.wrap_1_2_3_1_1{background:url("../images/body-1-4.jpg") no-repeat;}
.wrap_1_2_3_1_2{background:url("../images/body-1-5.jpg") no-repeat;}
.wrap_1_2_3_2{width: 343px;float: right;}
.wrap111{width: 340px;height: 55px;background:url("../images/body-1-6.jpg") no-repeat;}




/**
	乐库
*/
.wrap_2{width:257px;height: 370px;float: right;}
.wrap_2_1{width:257px;height: 30px;background:#CFCFCF;padding:0px;margin: 0px;}
.wrap_2_1 h4{padding:0px;margin: 0px;color: #FFFFFF;float: left;line-height: 30px;padding-left: 15px;font-size: 13px;}
.wrap_2_2 ul{padding:0px;margin: 0px;list-style:none;border:1px solid #CFCFCF;}
.wrap_2_2_1{width:255px;height: 65px;margin-top: 3px;border-bottom:1px dotted #CFCFCF;}
.wrap_2_2_1 span{width:73px;height: 28px;border: 1px solid;background: url("../images/body-right-2.jpg") no-repeat;display:inline-block;float: left;font-size: 12px;font-weight: bold;color: #FFFFFF;line-height: 28px;}
.wrap_2_2_1 a{width:36px;height: 24px;font-size:12px;display:inline-block;margin-top: 7px;text-decoration:none;color: black;}
.wrap_2_2 .wrap_2_2_1 a:hover{color:#85D2F2;}
.wrap_2_2_1 .wrap_2_2_1_1{width: 50px;height: 17px;display:inline-block;margin-right: -15px;text-align: left;padding-left: 3px;background: url("../images/other.png") no-repeat -300px -1px;padding-top: 2px;color: #969696;font-weight: bold;}
.wrap_2_2 .wrap_2_2_2{width:255px;height: 63px;margin-top: 3px;border-bottom:1px dotted #CFCFCF;}
.wrap_2_2 .wrap_2_2_2 span{width:73px;height: 28px;border: 1px solid;background: url("../images/body-right-2.jpg") no-repeat;display:inline-block;float: left;font-size: 12px;font-weight: bold;color: #FFFFFF;line-height: 28px;}
.wrap_2_2 .wrap_2_2_2 a{width:50px;height: 24px;font-size:12px;display:inline-block;margin-top: 7px;text-decoration:none;color: black}
.wrap_2_2 .wrap_2_2_2 a:hover{color:#85D2F2;}
.wrap_2_2 .wrap_2_2_2 .wrap_2_2_1_1{width: 50px;height: 17px;display:inline-block;margin-right: -15px;text-align: left;padding-left: 3px;background: url("../images/other.png") no-repeat -300px -1px;padding-top: 2px;color: #969696;font-weight: bold;}
.wrap_2_2 .wrap_2_2_3{width:255px;height: 64px;margin-top: 3px;border-bottom:1px dotted #CFCFCF;}
.wrap_2_2 .wrap_2_2_3 span{width:75px;height: 28px;border: 1px solid;background: url("../images/body-right-2.jpg") no-repeat;display:inline-block;float: left;font-size: 12px;font-weight: bold;color: #FFFFFF;line-height: 28px;}
.wrap_2_2 .wrap_2_2_3 a{width:80px;height: 24px;font-size:12px;display:inline-block;margin-top: 7px;text-decoration:none;color: black}
.wrap_2_2 .wrap_2_2_3 a:hover{color:#85D2F2;}
.wrap_2_2 .wrap_2_2_3 .wrap_2_2_1_1{width: 50px;height: 17px;display:inline-block;margin-right: -15px;text-align: left;padding-left: 3px;background: url("../images/other.png") no-repeat -300px -1px;padding-top: 2px;color: #969696;font-weight: bold;}

/**
*热榜
*/
.hot{width:960px;height:330px;margin-top:15px;}
/**
*热榜TOP10
*/
.hot_1{width:695px;height:330px;float: left;}
.hot_1_1{width:339px;height:330px;float: left;}
.hot_1_1_1{width:340px;height:30px;border-bottom:2px solid #CFCFCF;}
.hot_1_1_2{width: 340px;height: 297px;}
.hot_1_1_2 table{width: 340px;height: 260px;margin-top: 5px;}
.hot_1_1_2 table tr{width: 340px;height:25px;margin: 0px;padding: 0px;}
.hot_1_1_2_8{background: url("../images/1.jpg")  -13px 0px;line-height: 20px;}
.hot_1_1_2_9{background: url("../images/2.jpg")  -13px 0px;line-height: 20px;}
.hot_1_1_2_7{background: url("../images/3.jpg")  -12px 0px;line-height: 20px;}
.hot_1_1_2 table tr td a{border: 0px;color: #000000;text-decoration: none;}
.hot_1_1_2 table tr td .hot_1_1_2_1{width: 35px;color: #000000;float: left;height: 24px;font-size: 12px;text-align: center;font-weight: bold;}
.hot_1_1_2 table tr td .hot_1_1_2_2{width: 295px;height: 25px;float: left;font-size: 12px;}
.hot_1_1_3{width:96px;height:24px;float: right;margin-top: 5px;background: url("../images/bofang-1.jpg") no-repeat;}
.hot_1_1_3 a{width:96px;height:24px;display:inline-block;cursor: pointer;}
.hot_1_1_3 a:HOVER{width:96px;height:24px;background: url("../images/bofang-2.jpg")  0px 1px; }
.hot_1_1_1_1{width:80px;height:30px;font-size: 14px;font-weight: bold;float: left;line-height: 30px;color: #878787;}
.hot_1_1_1_2{width:60px ; height: 16px;line-height: 16px;border-right: 1px solid #878787;float: left;margin: 7px 5px;}
.hot_1_1_1_2 a{font-size: 12px;text-decoration: none;color: #000000;}
.hot_1_1_1_3{width:60px ; height: 16px;line-height: 16px;float: left;margin: 7px 5px;}
.hot_1_1_1_3 a{font-size: 12px;text-decoration: none;color: #000000;}
.hot_1_1_1_4{width:80px ; height: 30px;line-height: 30px;float: left;margin-left: 30px;background: url("../images/other.png") no-repeat -270px 5px;}
.hot_1_1_1_4 a{width:80px ; height: 30px;color: #000000;font-size: 12px;text-decoration: none;display:inline-block;}
.hot_1_2{width:340px;height:329px;float:right;}
.hot_1_2_1{width: 340px;height: 30px;border-bottom: 2px solid #CFCFCF;}
.hot_1_2_1_1{width: 80px;height: 30px;line-height: 30px;color: #878787;font-size: 14px;font-weight: bold;float: left;}
.hot_1_2_1_2{width: 45px;height: 14px;float: left;font-size: 12px;border-right: 1px solid #CFCFCF;margin-top: 7px;}
.hot_1_2_1_2 a{text-decoration: none;color: #000000;}
.hot_1_2_1_3{width: 45px;height: 14px;float: left;font-size: 12px;margin-top: 7px;}
.hot_1_2_1_3 a{text-decoration: none;color: #000000;}
.hot_1_2_1_4{width: 70px; height:30px;display:inline-block;line-height:28px;;font-size: 12px;background: url("../images/other.png") no-repeat -283px 5px;text-align: left;padd}
.hot_1_2_1_4 a{width: 70px; height:30px;margin-left: 15px;text-decoration: none;display:inline-block;color: #000000;}

/**
*  抢先首发
*/
.hot_2{width:257px;height:330px;float: right;}
.hot_2_1{width:257px;height: 30px;background: #DEB200;color: #FFFFFF;;}
.hot_2_1 h4{margin:0px;float: left;font-size: 12px;padding-left:12px;line-height: 28px; }
.hot_2_2{width:257px;height: 300px;}
.hot_2_2 ul{margin: 0px;height: 0px;list-style:none;}
.hot_2_2 ul li{margin-left:-38px;margin-top:6px;width:255px;height: 142px;}
.hot_2_2_1{margin-left:-50px; }
.hot_2_2_1 a{text-decoration:none;}
.hot_2_2_1 a:HOVER i{display: block;}
.hot_2_2_1 i{width: 255px;height: 142px;text-align:left;padding-top:40px;padding-left:20px;position: absolute;font-size: 18px;font-weight: bold;margin-left: 0px;margin-top: -147px;color: #FFFFFF;background: url("../images/banner_go.png") no-repeat;display: none;}
/**
*音乐盛典
*/
.party{width:960px;height: 355px;margin-top: 15px;}
.party_1{width:695px;height: 355px;float:left;}
.party_1_1{width:695px;height: 26px;border-bottom: 2px solid #C2C2C2;}
.party_1_1_1{width:60;height: 16px;font-size: 14px;font-weight: bold;color: #878787;padding: 5px 10px;float: left;}
.party_1_1_2{width:70px;height: 13px;margin-top:5px;padding:0xp;border-right: 1px solid #C2C2C2;float: left;font-size: 12px;}
.party_1_1_2 a{text-decoration:none;color: black;}
.party_1_1_2 a:HOVER{background: url();}
.party_1_1_3{width:70px;height: 12px;padding-top:5px;float: left;font-size: 12px;}
.party_1_1_3 a{text-decoration:none;color: black;}
.party_1_1_4{float: left;font-size: 13px;font-weight: bold;margin-left: 190px;margin-top: 5px;}
.party_1_1_4 a{text-decoration:none;color: black;}
.party_1_1_5{float: left;width:50px;height: 20px;font-size: 12px;text-align: left;padding-top: 5px;margin-left: 30px;background: url("../images/other.png") no-repeat -300px 2px;}
.party_1_1_5 a{width:50px;height: 20px;text-decoration:none;color: black;display:inline-block;}
.party_1_2{width:695px;height: 325px;}
.party_1_2_1{width:695px;height:325px;margin: 1px;}
.party_1_2_1 ul{margin: 0px;padding: 0px;}
.party_1_2_1 ul li{width: 229px;height: 63px;float: left;list-style-type:none;}
.party_1_2_1 ul li a{width: 188px;height: 42px;display: inline-block;float: left;text-decoration: none;padding-top: 15px;}
.party_1_2_1 ul li a em{width:110px;height: 20px;display: inline-block;font: 12px  宋体;text-align: left;margin-left: -45px;color: #000000;margin-top: -44px;position:absolute;}
.party_1_2_1 ul li a em b{width:17px;height: 17px;display: inline-block;position: relative;background: url("../images/other.png") no-repeat -155px -1067px;top:5px; }
.party_1_2_1 ul li .party_1_2_1_1{width: 34px;height: 34px;border: 1px solid #ccc;margin-left: 5px;}
.party_1_2_1 ul li .party_1_2_1_1 img{width: 32px;height: 32px;margin: 1px;}
.party_1_2_1 ul li .party_1_2_1_2{width: 110px;height: 20px;margin-left: 48px;margin-top: -18px;color: #878787;font-size: 12px;text-align: left;}
.party_1_2_1 a:hover .party_1_2_1_1{background:  #1A8CFF;}
.party_1_2_1 a:hover em{font-weight: bold;color: #41BBEC;}
.party_1_2_1 a:hover em b{background: url("../images/other.png") no-repeat -155px -1038px;}






.party_2{width:255px;height: 355px;float:right;}
.party_2_1{width: 255px;height: 28px;background: #CFCFCF;}
.party_2_1_1{width:94px;height: 28px;border-right:1px solid #FFFFFF;float: left;line-height: 28px; }
.party_2_1_1 a{width:94px;height: 28px;font-size: 12px;font-weight: bold;text-decoration: none;color: #FFFFFF;display:inline-block;}
.party_2_1_1 a:HOVER{background: url("../images/clear2.jpg");}
.party_2_1_2{width:94px;height: 28px;border-right:1px solid #FFFFFF;float: left; line-height: 28px;}
.party_2_1_2 a{width:94px;height: 28px;font-size: 12px;font-weight: bold;text-decoration: none;color: #FFFFFF;display:inline-block;}
.party_2_1_2 a:HOVER{background: url("../images/clear2.jpg");}
.party_2_1_3{width:65px;height: 28px;float: left;line-height: 28px;background: url("../images/other.png") no-repeat -130px -41px;}
.party_2_1_3 a{width:65px;height: 28px;font-size: 12px;font-weight: bold;text-decoration: none;color: #FFFFFF;display:inline-block;text-align: left;margin-left: 9px;}
.party_2_2{width:253px;height:328px;border-left: 1px solid #CFCFCF; border-right: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;}


.party_2_2_1{text-align: left;}
.party_2_2_1 ul{margin: 0px; padding: 0px;list-style-type: none;}
.party_2_2_1 ul li{width:247px;border-bottom: 1px solid #CFCFCF;float: right;}
.party_2_2_1_1{width: 50px;height: 116px;display: inline-block;}
.party_2_2_1_1 .party_2_2_1_1_1{width: 25px;height: 30px;display: inline-block;margin-top: 35px;background: url("../images/other.png") no-repeat -51px -70px;margin-left: 10px;float: left;}
.party_2_2_1_2{width: 50px;height: 50px;display: inline-block;}
.party_2_2_1_1_2{width: 58px;height: 58px;float: left;margin-top: 10px;}
.party_2_2_1_1_2 a{width: 58px;height: 58px;margin-top: 10px;}
.party_2_2_1_1_3{width:100px;height: 30px;display: inline-block;line-height: 40px;padding-left: 10px;}
.party_2_2_1_1_3 i{font: 12px 宋体;line-height: 40px;font-weight: bold;}
.party_2_2_1_1_4{width:100px;height: 30px;display: inline-block;line-height: 30px;padding-left: 10px;}
.party_2_2_1_1_4 i{font-weight: bold;font: 12px 宋体;line-height: 30px;}
.party_2_2_1_1_5{width: 240px;height:20px;margin-top: 10px;}
.party_2_2_1_1_5_1{width: 130px;height:20;font-size: 12px;color: #9B9B9B;display: inline-block;padding-left: 35px;}
.party_2_2_1_1_5_2{font-size: 12px;width: 30px;display: inline-block;padding-left: 30px;}
.party_2_2_1_1_5_2 a{color: #000000;}
.party_2_2_1_1_6{width: 240px;height: 25px;padding: 0px;}
.party_2_2_1_1_6 a{width:100px;height:20px;margin-left: 33px;display: inline-block;line-height:20px;font-size: 12px;color: #464646;text-decoration: none;float: left;}
.party_2_2_1_1_6 span{width: 25px;height: 20px;background: url("../images/2.jpg") no-repeat -313px -2px;display: inline-block;float: left;}



.party_2_2_1_2{height: 52px;}
.party_2_2_1_2 span{width: 30px;height: 50px;display: inline-block;line-height: 50px;text-align: center;font-weight: bold;float: left;}
.party_2_2_1_2 a{width: 36px;height: 36px;margin-top: 7px;display: inline-block;float: left;}
.party_2_2_1_2 a img{border: 0px;}
.party_2_2_1_2_1{width: 140px;height: 36px;float: left;margin-left: 39px;margin-top: 7px;}
.party_2_2_1_2_1 a{width: 139px;height: 13px;font-size: 12px;margin: 0px;padding: 0px;line-height: 12px;text-align: left;color: #000000;font-weight: bold;text-decoration: none;}
.party_2_2_1_2_1 a:hover{color: #41BBEC;}
.party_2_2_1_2_1 div{margin-top: 20px;padding-left: 0px;width: 139px;height: 18px;font-size: 12px;line-height: 18px;}




/**
* MV热播
*/
.MV{width: 960px;height: 175px;margin-top:15px; }
.MV_1{width: 695px;height: 175px;float: left;}
.MV_1_1{width:695px;height: 26px;border-bottom: 2px solid #C2C2C2;}
.MV_1_1_1{float: left;width:60;height: 16px;font-size: 14px;font-weight: bold;color: #878787;padding: 5px 10px;}
.MV_1_1_2{float: left;width:300px;height:26px;margin-left: 220px;text-align: right;}
.MV_1_1_2 a{display:inline-block;text-decoration: none;color:black;font-size: 12px;font-weight: bold;line-height: 24px;}
.MV_1_1_3{float: left;width:85px;height:23px;background: url("../images/other.png") no-repeat -268px 3px;}
.MV_1_1_3 a{display:inline-block;text-decoration: none;color:black;font-size: 12px;line-height: 24px;}

.MV_1_2{width: 694px;height: 146px;}
.MV_1_2_1{float: left;width: 172px;height: 135px;margin-left: 1px;padding-top: 10px;}
.MV_1_2_1_1{width: 172px;height: 110px;display: inline-block;background: url("../images/other.png") no-repeat -189px -630px; padding-top: 2px;cursor: pointer;}
.MV_1_2_1_1 img{width: 168px;height: 96px;}
.MV_1_2_1_1 i{width: 33px;height: 34px;background: url("../images/play.png");display: inline-block;margin-top: -30px;margin-left: 120px;z-index:4}
.MV_1_2_1_1 b{width: 168px;height: 96px;display: inline-block;margin-top: -98px;background: #000000;display: none;z-index:3}
.MV_1_2_1_1:hover b{width: 168px;height: 96px;display: block;display: inline-block;opacity:0.6;border: 2px solid #0033CC;z-index:3}
.MV_1_2_1_1:hover i{display: none;background: url("../images/play_hover.png");display: inline-block; z-index:4}
.MV_1_2_1_2{color: #000000;font-size: 12px;float: left;margin-left: 5px;cursor: pointer;}
.MV_1_2_1_2:hover{color:#41BBEC;text-decoration: underline;}



.MV_2{width: 255px;height: 175px;border: 1px solid #CFCFCF;float: right;}
.MV_2_1{width: 255px;height: 28px;background: #CFCFCF}
.MV_2_1_1{width: 172px;height: 28px;line-height:28px;color:#FFFFFF;border-right: 1px solid #FFFFFF;float: left;text-align: left;font-size: 12px;font-weight: bold;margin-left: 15px;}
.MV_2_1_2{width: 67px;height: 28px;background: url("../images/other.png") no-repeat -130px -41px;float: left;text-align: left; }
.MV_2_1_2 a{width: 67px;height: 28px;font-size: 12px;font-weight:bold;color:#FFFFFF;text-decoration: none;display:inline-block;line-height: 26px;padding-left: 10px;}
.MV_2_2{width:255px;height: 90px;border-bottom: 1px dashed #CFCFCF;}







.MV_2_2_1{width: 140px;height: 74px;margin: 10px;float: left;}
.MV_2_2_2{width: 75px;height: 70px;float: left;margin-top: 10px;}
.MV_2_2_2 a{font-size: 12px;text-decoration: none;color:black; line-height:18px}
.MV_2_2_2 a:HOVER {text-decoration: underline;color: #41BBEC;}
.MV_2_3{width: 255px;height: 50px;text-align: left;margin-top: 8px;}
.MV_2_3 a{width: 240px;height: 21px;font-size: 12px;color: black;text-decoration: none;float: left;margin-left: 10px;}
.MV_2_3 a:HOVER{text-decoration: underline;color: #41BBEC;}

/**
*合作伙伴
*/
.partner{width: 960px;height: 100px;margin-top: 30px;}
.partner_1{width: 960px;height: 29px;border-bottom: 1px solid #C2C2C2;}
.partner_1_1{width: 90px;height: 29px;font-size: 14px;font-weight: bold;color: #878787;line-height: 28px;float: left;}
.partner_1_2{width: 90px;height: 29px;float: right;background: url("../images/other.png") no-repeat -268px 5px;}
.partner_1_2 a{font-size: 12px;color: black;line-height: 28px;text-decoration: none;}

.partner_2{width: 958px;height: 70px;}
.partner_2 a{width: 100px;height: 20px;display: inline-block;font-size: 12px;float: left;text-align: left;margin:15px; color: #878787;text-decoration: none;}
.partner_2 a:hover{color:#41BBEC;text-decoration: underline; }



/**
*声明
*/
.foot{width: 960px;height: 30px;border-bottom:1px solid #C2C2C2; }
.foot p{font-size: 12px;color: #C2C2C2;text-align: left;padding-left: 15px;}


/**
*酷狗底部
*/
.links{margin-top:30px;text-align:left;color: #B3B3B3;line-height: 25px;width: 940px;height: 100px;margin-left: 15px;}
.links a{color:black;text-decoration:none;color:#B3B3B3;font-size: 14px;}
.links span{font-size:12px;color:#B3B3B3;}
.links strong a{color:#C0C0C0;}
.links a img{border:0px;}
.kugou{width:177px;height:109px;background:url(../images/logo-1-1.jpg) no-repeat;float:right;margin-top:-17px;}


/**
*半透明背景
*/
 .mask{position:absolute;left:0;top:0;z-index:3;height:100%;width:100%;background:black;opacity:0.6;}
/**
*登陆
*/
.login{width: 440px;height: 316px;background: #FFFFFF;position:absolute;left:450;top:130;z-index:3;}
.login_1{width: 440px;height: 37px;display:inline-block;cursor: pointer;}
.login_1 a{width: 37px;height: 30px;display:inline-block;float: right;margin-top: 10px;}
.login_2{width: 440px;height: 40px;background: url("../images/logo-2-1.jpg") no-repeat 30px 0px;}
.login_3{width: 375px;height: 212px;margin-left: 30px;}
.login_3_0{width: 375px;height: 25px;}
.login_3_0 p{color: red;margin: 0px;padding: 0px;float: left;font-size: 12px;}
.login_3_1{width: 375px;height: 38px;border: 1px solid #7B7B7B;}
.login_3_1 label{line-height: 38px;color: #7B7B7B;font-size: 12px;}
.login_3_1 input{width: 310px;height: 30px;border: 0px;color: A1A1A1;}
.login_3_2{width: 375px;height: 85px;}
.login_3_2_1{width:108px;height: 40px;margin: 25px;float: left;}
.login_3_2_1 input{width:108px;height: 40px;background:url("../images/splice01.png") no-repeat 0px -50px ;border: 0px;cursor:pointer;}
.login_3_2_2{width:210px;height: 40px;float: left;margin-top:25px;}
.login_3_2_2 a{width:80px;font-size: 12px;color:#7B7B7B; text-decoration: none;margin-left: 10px;display:inline-block;float: left;}
.login_3_2_2 a:HOVER{color:#41BBEC;}
.login_3_2_2_1{width:85px;height: 20px;font-size: 12px;float:left;line-height: 20px;margin-top: 10px;text-align: left;color: #7B7B7B;}
.login_3_2_2_2{widows: 80px;height: 16px;text-align: left;}
.login_3_2_2_2 a{width: 16px;height: 16px;float: left;margin-top:10px;}
.login_3_2_2_2_1{background: url("../images/splice01.png") no-repeat 0px -125px;}
.login_3_2_2_2_2{background: url("../images/splice01.png") no-repeat -25px -125px;}
.login_3_2_2_2_3{background: url("../images/splice01.png") no-repeat -50px -125px;}
.login_3_2_2_2_4{background: url("../images/splice01.png") no-repeat -75px -125px;}

































